*{
    margin: 0;
    padding: 0;
    list-style: none;
}

h1{
    text-align: center;
}
.container-uno{
    width: 450px;
    height: 450px;
    border: 1px solid black;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.container-dos{
    width: 450px;
    height: 450px;
    border: 1px solid black;
    margin: 50px auto;
    display: flex;
    flex-direction: row-reverse;
    align-items:center;
}

.container-tres{
    width: 1000px;
    height: 150px;
    border: 1px solid black;
    margin: 50px auto;
    display: flex;
    justify-content:space-between;
}

.cajas{
    
}

#caja1{
    width: 150px;
    height: 150px;
    background: red;
    color: white;
    text-align: center;
    line-height: 150px;
}

#caja2{
    width: 150px;
    height: 150px;
    background: blue;
    color: white;
    text-align: center;
    line-height: 150px;
}

#caja3{
    width: 150px;
    height: 150px;
    background: green;
    color: white;
    text-align: center;
    line-height: 150px;
}