*{
    margin: 0;
    padding: 0;
    list-style: none;
}

/*--------------------- Encabezado ---------------------*/
header{
    position: relative;
    margin: auto;
    width: 1000px;
    height: 270px;
    background: #444;
}

header #foto{
    position: absolute;
    width: 200px;
    height: 257px;
    background: rgb(168, 168, 168);
    margin: 5px 10px;
}

header h1{
    position: absolute;
    width: 400px;
    height: 80px;
    background: rgb(168, 168, 168);
    margin: 30px 30px 30px 250px;
}

header h3{
    position: absolute;
    width: 400px;
    height: 80px;
    background: rgb(168, 168, 168);
    margin: 150px 30px 30px 250px;
}

/*--------------------- Botones ---------------------*/
nav{
    position: relative;
    margin: auto;
    width: 1000px;
    height: 85px;
    background: rgb(119, 118, 118);
}

.botones{
    float: left;
    width: 198px;
    height: 85px;
    border: 1px solid #444;
}

/*--------------------- Articulo ---------------------*/
article{
    position:relative ;
    margin: auto;
    width: 1000px;
    height: 325px;
    background: #444;
}

#izq{
float: left;
width: 399px;
height: 325px;
background: rgb(165, 164, 164);
}

#der{
    float: right;
    width: 600px;
    height: 325px;
    background: rgb(226, 224, 224);
    }

/*--------------------- Footer ---------------------*/
footer{
    position: relative;
    margin: auto;
    width: 1000px;
    height: 67px;
    background:  rgb(119, 118, 118);;
}

#footer1{
    float: left;
    width: 600px;
    height: 67px;
    background: rgb(226, 224, 224);
}

#footer2{
    float: right;
    width: 399px;
    height: 67px;
    background: rgb(165, 164, 164);
}






