{{!-- ------21. Colocamos bienvenida al usuario y btn cerrar sesión-------  --}}
<div class="container" style="margin-top: 30px;">
    <div class="row">
        {{!-- ------24. colocamos la propiedad usuario que viene de login y apuntamos cerrar session login.js-------  --}}
        <p class="text-end">Hola {{usuario}} !<a class="btn btn-danger" href="/admin/login/logout">Cerrar Sesión <i class="fas fa-sign-out-alt"></i></a></p>
    </div>
</div>
<hr>

{{!-- ------15. Copiamos lo mismo el main de novedades-------  --}}
<main>
        <div class="novedades">
            <h1>Novedades</h1>
            <div class="novedad">
                <h3>Titulo</h3>
                <h4>Subtitulos</h4>
                <p>Descripción - Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum, a molestias   ipsa necessitatibus perspiciatis numquam porro voluptatum architecto. Qui at ducimus nobis ut,    asperiores tempore cumque doloribus consectetur error quas ad ratione perspiciatis repudiandae     corrupti facere aperiam eius suscipit. Sed id quasi culpa veniam? Nulla voluptate eligendi  illo non vitae!</p>
                <hr>
            </div>
    
            <div class="novedad">
                <h3>Titulo</h3>
                <h4>Subtitulos</h4>
                <p>Descripción - Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum, a molestias   ipsa necessitatibus perspiciatis numquam porro voluptatum architecto. Qui at ducimus nobis ut,    asperiores tempore cumque doloribus consectetur error quas ad ratione perspiciatis repudiandae     corrupti facere aperiam eius suscipit. Sed id quasi culpa veniam? Nulla voluptate eligendi  illo non vitae!</p>
                <hr>
            </div>
    
            <div class="novedad">
                <h3>Titulo</h3>
                <h4>Subtitulos</h4>
                <p>Descripción - Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum, a molestias   ipsa necessitatibus perspiciatis numquam porro voluptatum architecto. Qui at ducimus nobis ut,    asperiores tempore cumque doloribus consectetur error quas ad ratione perspiciatis repudiandae     corrupti facere aperiam eius suscipit. Sed id quasi culpa veniam? Nulla voluptate eligendi  illo non vitae!</p>
                <hr>
            </div>
        </div>
        </div>
    </main>