<div class="container" style="margin-top: 30px;">
    <div class="row">
        <p class="text-end">Hola
            {{usuario}}
            !   <a class="btn btn-danger" href="/admin/login/logout">Cerrar Sesi贸n
                <i class="fas fa-sign-out-alt"></i></a></p>
    </div>
    <hr />

{{!-------------- 1.- se maquetamos el listado de novedades en el mismo container
y crear en la carpeta model el archivo novedadesModel.js para hacer la consulta 
y traer los datos.
--------------}}
    <div class="row">
        <div class="col-7">
            <h3>Listado de Novedades</h3>
        </div>
        <div class="col-5 text-end">
            {{!-- -------- 8.- Alta de novedades y agregamos el GET en routes/admin/novedades.js -------- --}}
            <a class="btn btn-success" href="/admin/novedades/agregar"><i class="fa fa-plus" aria-hidden="false"> Nuevo</i></a>
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">#</th>
                        <th scope="col" class="text-center">Titulo</th>
                        <th class="text-end">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{!-- -------- 7.- Recorremos la propiedad novedades que viene de novedades.js
                        y colocamos id y el titulo -------- --}}
                    {{#each novedades}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{titulo}}</td>
                        <td class="text-end">
                            <a class="btn btn-secondary" href=""><i class="fas fa-pencil-alt"></i></a>
                            <a href="" class="btn btn-secondary"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    {{! <div class="row">
        <main>
            <div class="novedades">
                <h1>Novedades</h1>
                <div class="novedad">
                    <h3>Titulo</h3>
                    <h4>Subtitulos</h4>
                    <p>Descripci贸n - Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum, a molestias ipsa
                        necessitatibus perspiciatis numquam porro voluptatum architecto. Qui at ducimus nobis ut,
                        asperiores tempore cumque doloribus consectetur error quas ad ratione perspiciatis repudiandae
                        corrupti facere aperiam eius suscipit. Sed id quasi culpa veniam? Nulla voluptate eligendi illo
                        non vitae!</p>
                    <hr>
                </div>

                <div class="novedad">
                    <h3>Titulo</h3>
                    <h4>Subtitulos</h4>
                    <p>Descripci贸n - Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum, a molestias ipsa
                        necessitatibus perspiciatis numquam porro voluptatum architecto. Qui at ducimus nobis ut,
                        asperiores tempore cumque doloribus consectetur error quas ad ratione perspiciatis repudiandae
                        corrupti facere aperiam eius suscipit. Sed id quasi culpa veniam? Nulla voluptate eligendi illo
                        non vitae!</p>
                    <hr>
                </div>

                <div class="novedad">
                    <h3>Titulo</h3>
                    <h4>Subtitulos</h4>
                    <p>Descripci贸n - Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum, a molestias ipsa
                        necessitatibus perspiciatis numquam porro voluptatum architecto. Qui at ducimus nobis ut,
                        asperiores tempore cumque doloribus consectetur error quas ad ratione perspiciatis repudiandae
                        corrupti facere aperiam eius suscipit. Sed id quasi culpa veniam? Nulla voluptate eligendi illo
                        non vitae!</p>
                    <hr>
                </div>
            </div>
        </main>
    </div> }}
</div>





